.searchArea{
  display:grid;
  grid-template-columns: 85px 4fr 3fr;
  align-items: center;
  justify-items: start;
  padding: 0 0 14px 0;
    margin: 0;
    width: 100%;
   z-index: 301; 
    min-width: 1000px;
    background: #0f1010;
    border-bottom: 1px solid #ebebeb;
    position: fixed; 
     top:0; 
}

Header{
  display:flex;
  flex-direction: column;
  position: fixed;
  top:0;
  z-index: 301;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  grid-column-gap: 10px;
  margin-top: 7%; 
}

.App-right{
  padding-left: 18%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  margin-left: 50%;
}

.slogan {
  display: inline-block;
}

.Container {
  width:70%;
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Total {
  color: #70757a;
  font-size: 14px;
  margin-top: 30px;
}

.searchField{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.App-link {
  margin-top: 10px;
  color: #61dafb;
  margin-bottom: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
